<?php
include("sandman.php");
?>
<?php

define('DB_USERNAME', 'putYaUsernameHere');
define('DB_PASSWORD', 'putYaPasswordHere');
define('DB_NAME', 'putYaDatabaseNameHere');
define('DB_SERVER', 'putYaServerHere');

/* Attempt to connect to MySQL database */
/** @var mysqli $mysqli */
$mysqli = new mysqli(DB_SERVER, DB_USERNAME, DB_PASSWORD, DB_NAME);


// Check connection
if($mysqli->connect_errno){
    die("ERROR: Could not connect. (" .$mysqli->connect_errno. ") " . $mysqli->connect_error);
}
